<% provide(:title, "About") %>
<%= stylesheet_link_tag "help.css" %>
<h1>About</h1>
<hr>
<p>
  edxUCLA is a site where students can connect with tutors, schedule meetings and learn different subjects. 
  For questions on how to navigate the site, please refer to the help page. <br><br><br>
  
</p>