<% provide(:title, "Help") %>
<%= stylesheet_link_tag "help.css" %>
<h1>Help</h1>
<hr>
<br><br>
<p>
    <h5><b>Step 1: </b>Sign up by clicking the sign up link at the homepage </h4>
    <img src="/signup.png" alt="signup" width="602" height="433" /> <br><br><br><br><br>-->
    <h5><b>Step 2: </b>Update your account info and profile pic using the drop down menu at the top: Account -> Settings </h4>
    <img src="/updateprofile2.png" alt="updateprofile" width="600" height="364"  /> <br><br><br><br><br>
    <h5><b>Step 3: </b>Update your profile by adding courses. You can do so by clicking profile at the top navigation bar </h4>
    <img src="/updateprofile.png" alt="updateprofile" width="681" height="220" /> <br><br><br><br><br>
</p>
