
<% if logged_in? %>
    <h1>DASHBOARD</h1>
    <h3>Your Tutors</h3>
    <p>You have no tutors</p>    
    <h3>Your Students</h3>
    <p>You have no students</p>
<% else %>
  <h1 class="intro">WELCOME TO EDXUCLA</h1>
  <hr>
    <div class="center">
      <h1 class="sub">Your learning and teaching connection</h1>

      <p class="sub">
        Sign up today and get a private tutor just for you
      </p>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
<% end %>

