@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {font-family: "Merriweather"; src: url('/Merriweather.ttf') format('truetype');}
@font-face {font-family: "HelveticaNeue"; src: url('/Helvetica Neu Bold.ttf') format('truetype');}



/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


.default {
	background: url('/header.jpg'); 
	background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 60px;
  color: #fff;
  background-size: 100% 100%;
}

.home{
	background: url('/header.jpg'); 
	background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 60px;
  color: #fff;
  footer{
        .hometext{
      color: #F05F40;
    }
  }
  background-size: 100% 800px;
}


hr {
  border-color: #F05F40;
  border-width: 2px;
  max-width: 50px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: 'Merriweather';

}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color:#fff;
  font-family: 'Merriweather';

}
a:hover,
a:focus {
  color: #eb3812;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* typography */



h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1;
  font-family: 'HelveticaNeue';

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
  font-family: 'HelveticaNeue';
}

h3, h4, h5{
  font-family: 'Merriweather';
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* search-bar */
.custom-search-bar{
  padding: 10px;
}

.search-input{
  width: 80%;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #F05F40;
}

/*footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}*/

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Edit profile/educations */
.custom-remove-button{
  color: rgb(170, 0, 0);
  opacity: 0.05;
}

.custom-remove-button:hover{
  color: rgb(170, 0, 0);
  opacity: 1.0;
}

.results{
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.feature{

    border-color: #F05F40;
    background-color: #F05F40;
    text-align: center; 
}

.education{
  text-indent: 20px;
  text-decoration: underline;
}




.black{
  color: #000000;
}

.grey{
  color: #808080;
}

.icon{
  height: 64px;
  width: 56px;
}



.button-to-form{
 display: inline-block; 
  
}

.input[type="radio"], label{
      float:left;
     }

.input{
 color: #000000;
}

.btn-primary {
  color: white;
  background-color: #F05F40;
  border-color: #F05F40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.requests{
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.sessions{
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    overflow: auto;
    padding: 10px 20px;
  }
}

.noclient{
  text-decoration: underline;
  color: #F05F40;
}