
.guide {
	display: block;
	margin: 0 auto;
	height: 50%;
	width: 50%;
}

h1 {
	text-align: center;
	margin: 0px;
}
h5 {
	text-align: center; 
}

#contact_form{
	display: block;
	margin: 0 auto;
	width: 50%;
}

.btn-primary {
  color: white;
  background-color: #F05F40;
  border-color: #F05F40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.intro{
	font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    color: #fff;
    text-shadow: none;
    font-size: 50px;
}

.sub{
	color: #fff;
}

.feature{

    border-color: #fff;
    background-color: #fff;
    text-align: center; 
    width: 100%;
}