img{
	display: block;
	margin: 0 auto;
	height: 50%;
	width: 50%;
}

h1 {
	text-align: center;
	margin: 0px;
}
h5 {
	text-align: center; 
}
hr {
    border-style: solid;
    border-width: 5px;
}
#contact_form{
	display: block;
	margin: 0 auto;
	width: 50%;
}